@{
    ViewData["Title"] = "DogeWallet";
}


<div class="text-center ghwt pt-5 pb-5">
    <h1 id="maintitle" class="pt-3">-Open Source Dogecoin Wallet Made By Crypto</h1>
</div>

<div class="container pt-5 mt-5 bordert" id="about">
    <div class="row">
        <div class="col col-12 col-md-6 d-flex align-items-center justify-content-center">
            <img style="height:150px;width:150px;" src="~/imgs/dogecoin.png" />
        </div>
        <div class="col col-12 col-md-6 mt-3 pt-3 col-md-6 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col p-3">
                    <h4 class="ghwt">
                        DogeWallet gives you quick and easy access to Dogecoin wallet.
                        You don't need an email to access your wallet.
                    </h4>
                </div>
                <div class="row">
                    <div class="col col-6 d-flex align-items-end justify-content-end p-3">
                        <a asp-controller="Access" asp-action="Login">
                        <span class="ghwt btnspan">
                            <i class="fas fa-wallet" style="color:ghostwhite"></i>
                            Wallet
                        </span>
                            </a>
                    </div>
                    <div class="col  col-6 d-flex align-items-start justify-content-start p-3">
                        <a href="https://github.com/holle197/dogewallet" target="_blank">
                        <span class="ghwt btnspan">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            Source
                        </span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col order-2 order-md-1 col-12 col-md-6 justify-content-center  d-flex align-items-center ghwt" style="height:350px;font-size:22px">
            <h4>
                DogeWallet  help you manage your dogecoins  in the easiest way.
                We don't keep your private keys or your passwords or any data!
                Private keys are generated based on your password and pin.
                Create a strong password and pin and keep it in a safe place.
                If you lose your password and pin, you've lost funds in your account !
            </h4>
        </div>
        <div class="col order-1 order-md-2 col-12 col-md-6 justify-content-center  d-flex align-items-center ghwt" style="height:350px;font-size:22px">
            <img src="~/imgs/doge1.png" style="height:150px;width:150px;" />
        </div>
    </div>
</div>

<div class="container pt-5 mt-5 bordert" id="whatisdoge">
    <div class="row">
        <div class="col col-12  justify-content-center  d-flex align-items-center ghwt">
            <h3 class="p-2" id="dogememe">
                1 Dogecoin = 1 Dogecoin
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center  d-flex align-items-center ghwt">

            <h4 class="p-2" id="dogeheader">
                THE FUN AND FRIENDLY INTERNET CURRENCY.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center  d-flex align-items-center ghwt">
            <h5 class="p-2" id="dogetext">
                Dogecoin sets itself apart from other digital currencies with an amazing, vibrant community made up of friendly folks just like you.
            </h5>
        </div>
    </div>
    <div class="row pb-5 pt-4">
        <div class="col justify-content-center pb-3  d-flex align-items-center ghwt">
            <a href="https://dogecoin.com/" target="_blank"><span id="lrnmore">Learn More</span></a>
        </div>
    </div>
</div>
